.signin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(30, 30, 30, 0.85);
  padding: 2rem 2.5rem;
  border-radius: 1rem;
  box-shadow: 0 2px 16px #0008;
  /* max-width: 350px; */
  width: 400px;
  margin: 2rem auto;
}

.signin-container h2 {
  margin-bottom: 2rem;
  color: #fff;
}

.signin-email {
  width: 100%;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid #444;
  background: #18191a;
  color: #fff;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  outline: none;
}

.signin-otp-btn {
  padding: 0.5rem 1.25rem;
  border-radius: 0.5rem;
  border: none;
  color: #fff;
  font-weight: 600;
  font-size: 0.95rem;
  font-family: var(--quantico);
  cursor: pointer;
  box-shadow: 0 1px 6px #0005;
  transition: background 0.2s;
}

.signin-google-btn {
  padding: 0.5rem 1.25rem;
  border-radius: 0.5rem;
  color: #fff;
  background: var(--almost-black);
  outline: 1px solid #fff;
  cursor: pointer;
  font-family: var(--quantico);
  transition: all .3s;
}

#google-icon {
  padding-right: 1rem;
}
